/* Inserta tu código aqui */

/*cabecera*/
.linea{
	border-bottom: 5px solid black;
	width: 70px;
}

/*imagenes*/

#imagenes{
	position: absolute;
	width: 80%;
	height: 500px;
	padding: 3px;
	top: 100px;
	left: 15px;
}

.img-uno{
	display: inline-block;
	position: relative;
	font-size: 20px;

}

#A{
	background-image: url(../img/profile-1.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#A p{
	top: 150px;
	left: 90px; 
	position: relative;
	color: #FCF109;
}

#B{
	background-image: url(../img/profile-2.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#B p{
	top: 150px;
	left: 70px; 
	position: relative;
	color: #FCF109;
}

#C{
	background-image: url(../img/profile-3.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#C p{
	top: 150px;
	left: 50px; 
	position: relative;
	color: #FCF109;
}

.img-dos{
	display: inline-block;
	position: relative;
	font-size: 20px;
	top: 30px;
	margin-left: 6px;
}

#D{
	background-image: url(../img/profile-4.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#D p{
	top: 150px;
	left: 60px; 
	position: relative;
	color: #FCF109;
}

#E{
	background-image: url(../img/profile-5.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#E p{
	top: 150px;
	left: 120px; 
	position: relative;
	color: #FCF109;
}

#F{
	background-image: url(../img/profile-6.png);
	-webkit-filter: contrast(85%);
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-right: 20px;	
	
}

#F p{
	top: 0;
	left: 6px; 
	position: relative;
	color: #FCF109;
}